:root {
    --mainBG: #514188;
    --bg: #7c6bb4;
    --bgH: #8777bd;
    --bgD: #4a368a;
}

/* remove some default styles */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
button, input {
    margin: 0;
    outline: none;
    overflow: visible;
    border: 0;
}
button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    text-transform: none;
    box-sizing: content-box;
}
button, [type="button"] {
    -webkit-appearance: button;
}


html {
    background-color: var(--mainBG);
    transition: background-color 150ms;
    color: white;
    font-family: 'Roboto-Regular';
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--bg) var(--mainBG); /* Firefox */
}
/* all of this is chromium only */
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-track {
    background: var(--mainBG);
  }
body::-webkit-scrollbar-thumb {
    background-color: var(--bg);
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 152px;
    margin: 0px 5px 0px 5px;
    padding: 5px 10px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 20px;
    font-size: 17px;
    color: white;
    transition: filter 100ms;
    user-select: none;
    cursor: pointer;
    background-color: var(--bgD);
    border: 2px solid var(--bgH);
}
.buttons:hover, .buttons:focus {
    filter: brightness(1.1);
}
.buttons:active {
    filter: brightness(.9);
}
.buttons:disabled {
    filter: grayscale(1);
    pointer-events: none;
}

#centerWrap {
    display: flex;
    height: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}


#outputText {
    display: none;
    width: 600px;
    height: 400px;
    overflow: auto;
}


#infoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
}


#introInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#bottomButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#getFileButt {
    display: none;
    margin-bottom: 30px;
}

